<html>

<head>
<title>Software Dev Project</title>
</head>

<body>

<h2>Spell Checker</h2>

<hr>
<br><br>

<h4>What is this?</h4>
<p>This is a spell checker which will allow you, the user, to input text in [LIST OF LANGUAGES], and recieve a quick, accurate, spell check so you can be sure all of your writing is free of errors.</p>

<br>
<h4>How do I use it?</h4>
<p>To use this tool, simply type or paste the text you want to check into the textarea below and then press the spell check button</p>

<form action='/' method='POST'>

<textarea rows='30' cols='150' name='TextArea'></textarea>

<br><br>

<input type='submit' value='Spell Check'></input>

</form>

</body>

<footer>
</footer>

<html>