<!--
HTML file that uses base template to create specific page for textbox editor
-->

{% extends 'base.html' %}

{% block title %}
    Index Page
{% endblock %}

{% block content %}
    <body class="text-center" onload="setLanguage()">

        <!-- Sidebar navigation container -->
        <div class="container" style="text-align:center">
            <h2>{{ _('Spellchecking System: Click on the language selection tool to open the menu of supported languages.') }}</h2>
            <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; {{ _('Language Select') }}</span>
            <br>
            <p style="display:inline-block">{{ _('Current language:') }}</p>
            <p style="display:inline-block; padding-left: 0.25%" id="Language">{{ _('English') }}</p>
        </div>

        <script>
            function openNav() { document.getElementById("mySidenav").style.width = "200px"; }
            function closeNav() { document.getElementById("mySidenav").style.width = "0"; }
        </script>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a>{{ _('Languages:') }}</a>
            <a onclick="lang_select(this); closeNav();">{{ _('English') }}</a>
            <a onclick="lang_select(this); closeNav();">{{ _('Irish') }}</a>
        </div>

        <style>
            .sidenav { height: 100%; width: 0; position: fixed; z-index: 1; top: 0; left: 0; background-color: #111;
                overflow-x: hidden; transition: 0.5s; padding-top: 50px; }
            .sidenav a { padding: 8px 8px 8px 32px; text-decoration: none; font-size: 20px; color: #818181;
                display: block; transition: 0.3s; }
            .sidenav a:hover { color: #f1f1f1; }
            .sidenav .closebtn { position: absolute; top: 0; right: 25px; font-size: 36px; margin-left: 50px; }
            @media screen and (max-height: 450px) {
                .sidenav {padding-top: 15px;}
                .sidenav a {font-size: 18px;}
            }
        </style>

        <!-- Textbox descriptions -->
        <br>
        <p style="text-align: center; padding-right: 45%;">{{ _('Input Text:') }}
<!--            <span style="float:right; padding-right:41%;">{{ _('Recommendations:') }}</span>-->
        </p>

        <!-- Textbox container -->
        <div class="container">
            <form method='POST' id="TextForm" onsubmit="return getContent()" spellcheck="false">
                <textarea id="InputOutputTextArea" style="display: none" name="TextToCheck"></textarea>
                <textarea id="LangSelectTextArea" style="display: none" name="LangSelect">{{ _('English') }}</textarea>
                <div contenteditable="true" id="InputOutputDiv" class="divStyleLeft" style="float: left">
                    {% for word in misspelled_words%}
                        {%if word[1] != ' '%}
                            <span class={{word[0]}} style="display:inline-block;" id="{{ word[1] }}">{{word[1]}}</span>
                        {%endif%}
                        {%if word[1] == ' '%}
                            <span style="word-spacing:2px;">&nbsp;</span>
                        {%endif%}
                    {% endfor %}
                </div>
<!--                <div contenteditable="false" id="RecommendationsDiv" class="divStyleRight" style="float:left">-->
<!--                    {% for entry, recs in recommendations%}-->
<!--                        <span>Misspelled Word: {{entry}}</span>-->
<!--                        <br>-->
<!--                        {%for rec in recs%}-->
<!--                            <span>{{rec}}</span><br>-->
<!--                        {%endfor%}-->
<!--                        <br><br>-->
<!--                    {% endfor %}-->
<!--                </div>-->

                <style>
                    .divStyleLeft{ width: 50%; height: 50vh; margin-left: 25%; padding: 1%;
                        outline: white; outline-style: double; outline-width: medium; outline-offset: 3px;
                        text-align: left; float: left; overflow-y: auto; }
<!--                    .custom-menu { display: none; z-index: 1000; position: absolute; overflow: hidden;-->
<!--                        border: 1px solid #CCC; white-space: nowrap; font-family: sans-serif; background: #FFF;-->
<!--                        color: #333; border-radius: 5px; padding: 0; }-->
<!--                    .custom-menu li { padding: 8px 12px; cursor: pointer; list-style-type: none;-->
<!--                        transition: all .3s ease; user-select: none; }-->
<!--                    .custom-menu li:hover { background-color: #DEF; }-->
                    .context-menu { position: absolute; text-align: center; background: rgb(0, 0, 0);
                        border: 1px solid grey; }
                    .context-menu ul { padding: 0px; margin: 0px; min-width: 150px; list-style: none; }
                    .context-menu ul li a { text-decoration: none; color: lavender; }
                    .context ul li:hover { background: black; }
                </style>

                <div id="contextMenu" class="context-menu" style="display: none">
                    <ul id="ItemList"></ul>
                </div>

                <br><br><br><br>

                <button type="submit" style="margin:0; position:absolute; left:50%;">{{ _('Spell Check') }}</button>

            </form>
        </div>

        <script>
            var in_out_div = document.getElementById("InputOutputDiv");
            var parent = in_out_div.parentNode.innerHTML;
            var newHTML = parent.replace(/\>\s+</g, "><");
            in_out_div.parentNode.innerHTML = newHTML;
        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous">
        </script>

        <script src = "{{url_for('static', filename='wordRecs.js')}}"></script>
        {%if recommendations %}
            <script>
                var recommend = {};
                {% for rec in recommendations %}
                    var temp = [];
                    {% for word in rec[1] %}
                        temp.push('{{ word }}');
                    {% endfor %}
                    recommend['{{ rec[0] }}'] = temp;
                    console.log(temp + "    ////    " + {{ rec[0] }});
                {% endfor %}
                console.log(recommend);
                setRecommendations(recommend);
            </script>
        {% endif %}

    </body>



    <script type="text/javascript">
        //Prevents resubmission of form when page is refreshed
        if (window.history.replaceState) {
            window.history.replaceState( null, null, window.location.href );
        }

        //Method that runs on form submission to get data from div and put into textarea to be sent to backend
        function getContent(){
            in_out_div = document.getElementById("InputOutputDiv")
            in_out_textarea = document.getElementById("InputOutputTextArea")

            /*Checks for child nodes in div
                if child nodes are found, iterates through each one to get data
                adds that data to inputoutput text area so it can be passed to backend properly

                If no child nodes are found, adds contents of div to inputoutput text area

                If child node text is &nbsp, replaces with a standard space
            */

            console.log(in_out_div.innerHTML);

            if(in_out_div.childNodes.length > 1){
                child_nodes = in_out_div.childNodes
                for(var i = 0; i < child_nodes.length; i += 1){
                    in_out_textarea.value += child_nodes[i].innerHTML.replaceAll("&nbsp;", " ");
                }
            }
            else{
                document.getElementById("InputOutputTextArea").value = document.getElementById('InputOutputDiv').innerHTML.replaceAll("&nbsp;", " ");
            }
        }

        function lang_select(obj){
            console.log($(obj).text());
            word = $(obj).text();
            document.querySelector("#Language").innerHTML = word;
            document.getElementById("LangSelectTextArea").innerHTML = word;
        }

        function setLanguage(){
            {%if langSelect%}
                document.querySelector("#Language").innerHTML = "{{langSelect}}";
                document.getElementById("LangSelectTextArea").innerHTML = "{{ langSelect }}"
            {%endif%}
        }


    </script>


{% endblock %}
